<div class="container">
  <h1 class="mt-4">Task Manager</h1>
  <mat-card class="p-4">
    <h3>Add Task</h3>

    <form (submit)="addTask()">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Task Name</mat-label>
        <input matInput [(ngModel)]="name" name="name">
      </mat-form-field>

      <button mat-raised-button type="summit" color="primary">
        Add Task
      </button>
    </form>

  </mat-card>

  <mat-card class="p-4 mt-4">
    <h3>Tasks</h3>

    <div class="task" *ngFor="let task of tasks">
      <div>
        {{ task.name }}
      </div>
      <div>
        <button mat-raised-button color="warn" (click)="removeTask(task)">
          Remove
        </button>
      </div>
    </div>

  </mat-card>

</div>
